In [2]:
import numpy as np
import pandas as pd

data=pd.read_csv("play_tennis.csv")

In [2]:
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [6]:
data=data.drop('day',axis=1)

In [7]:
data.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [8]:
#probability(yes)
#probability(no)

In [10]:
data['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [14]:
probability_yes=9/14
probability_no=5/14

In [15]:
print(probability_yes)
print(probability_no)

0.6428571428571429
0.35714285714285715

In [17]:
#outlook
pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [20]:
p_of_Overcast_no=0;
p_of_rain_no=2/5
p_of_sunny_no=3/5

p_of_Overcast_yes=4/9;
p_of_rain_yes=3/9
p_of_sunny_yes=2/9

In [21]:
#temp
pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [22]:
p_cool_no=1/5
p_hot_no=2/5
p_mild_no=2/5


p_cool_yes=3/9
p_hot_yes=2/9
p_mild_yes=4/9

In [23]:
pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [24]:
p_high_no=4/5
p_normal_no=1/5

p_high_yes=3/9
p_normal_yes=6/9

In [25]:
pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [26]:
p_strong_no=3/5
p_weak_no=2/5

p_strong_yes=3/9
p_weak_yes=6/9

In [29]:
#let see working
#outlook = sunny,temp=hot,humidity=high,wind=weak
pofyes=probability_yes*p_of_sunny_yes*p_high_yes*p_hot_yes*p_weak_yes
print(pofyes)

0.007054673721340388

In [30]:
pofno=probability_no*p_of_sunny_no*p_high_no*p_hot_no*p_weak_no
print(pofno)

0.02742857142857143

so no play because probabitity of no pay is high

# Lets try on big dataset

In [3]:
data=pd.read_csv("export_clean_data2.csv")
#data=data.head(10000)

In [24]:
data['review'][1]

'wonder littl product film techniqu unassum oldtimebbc fashion give comfort sometim discomfort sens realism entir piec actor extrem well chosen michael sheen got polari voic pat truli see seamless edit guid refer william diari entri well worth watch terrificli written perform piec master product one great master comedi life realism realli come home littl thing fantasi guard rather use tradit dream techniqu remain solid disappear play knowledg sens particularli scene concern orton halliwel set particularli flat halliwel mural decor everi surfac terribl well done'

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=2000)

In [ ]:
x=cv.fit_transform(data['review']).toarray()

In [64]:
x.shape

(50000, 2000)

In [65]:
y=data.iloc[:,-1].values

In [66]:
y.shape

(50000,)

In [67]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

clf1=GaussianNB()
clf2=MultinomialNB()
clf3=BernoulliNB()

# GaussianNB

In [68]:
clf1.fit(x_train,y_train)
clf1.score(x_test,y_test)

0.7561

# MultinomialNB

In [69]:
clf2.fit(x_train,y_train)
y2_preds=predict(x_test)
clf2.score(x_test,y_test)

0.8385

# BernoulliNB

In [70]:
clf3.fit(x_train,y_train)
clf3.score(x_test,y_test)

0.8436

In [78]:
y3_preds=clf3.predict(x_test)
from sklearn.metrics import classification_report
print(classification_report(y_test,y3_preds))

              precision    recall  f1-score   support

           0       0.85      0.83      0.84      5053
           1       0.83      0.86      0.84      4947

    accuracy                           0.84     10000
   macro avg       0.84      0.84      0.84     10000
weighted avg       0.84      0.84      0.84     10000

# RandomForestClassifier

In [71]:
from sklearn.ensemble import RandomForestClassifier
clf4=RandomForestClassifier()
clf4.fit(x_train,y_train)
clf4.score(x_test,y_test)

0.8377

# LogisticRegression

In [79]:
from sklearn.linear_model import LogisticRegression
clf5=LogisticRegression()
clf5.fit(x_train,y_train)
clf5.score(x_test,y_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8677