In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("Data/IMDB_Dataset.csv")

In [3]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
data['review'].head()

0    One of the other reviewers has mentioned that ...
1    A wonderful little production. <br /><br />The...
2    I thought this was a wonderful way to spend ti...
3    Basically there's a family where a little boy ...
4    Petter Mattei's "Love in the Time of Money" is...
Name: review, dtype: object

In [5]:
data['review']=data['review'].str.lower()

In [6]:
data.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. <br /><br />the...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [7]:
import re
#  re stand for regular expression
def remove_html_tag(text):
    pattern=re.compile('<.*?>') #<.*?> html tag indicator 
    return pattern.sub(r'',text)

In [8]:
data['review']=data['review'].apply(remove_html_tag)

In [9]:
data.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [10]:
import nltk
import string

In [11]:
punctuation=string.punctuation

In [12]:
def remove_pun(text):
    for char in punctuation:
        text=text.replace(char,'')
    return text;

In [13]:
data['review']=data['review'].apply(remove_pun)

In [14]:
data.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production the filming tech...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically theres a family where a little boy j...  negative
4  petter matteis love in the time of money is a ...  positive

In [15]:
data['review'][3]

'basically theres a family where a little boy jake thinks theres a zombie in his closet  his parents are fighting all the timethis movie is slower than a soap opera and suddenly jake decides to become rambo and kill the zombieok first of all when youre going to make a film you must decide if its a thriller or a drama as a drama the movie is watchable parents are divorcing  arguing like in real life and then we have jake with his closet which totally ruins all the film i expected to see a boogeyman similar movie and instead i watched a drama with some meaningless thriller spots3 out of 10 just for the well playing parents  descent dialogs as for the shots with jake just ignore them'

In [16]:
#from textblob import TextBlob
#d=TextBlob.apply(data['review'])
#d.correct().string
#we can not apply in whole data set for do so,we have to make function of spell checker

In [17]:
from textblob import TextBlob
incorrect_text=" my friand is goode persion"
textBlb=TextBlob(incorrect_text)
textBlb.correct().string

' my friend is good person'

In [18]:
 def spell_checker(text):
    txt=TextBlob(text)
    text=txt.correct().string
    return text

In [19]:
incorrect_text=" my friand is goode persion"
spell_checker(incorrect_text)

' my friend is good person'

In [20]:
data1={'review':['not goood moviess','ok not baad','i likee thias movas']}

In [21]:
data1=pd.DataFrame(data1)
data1

                review
0    not goood moviess
1          ok not baad
2  i likee thias movas

In [22]:
data1['review'].apply(spell_checker)

0       not good moves
1           ok not bad
2    i like this moves
Name: review, dtype: object

In [23]:
#data['review'].apply(spell_checker )   take very long time t0 complete becuse of 10 lakhs of word

In [24]:
from nltk.corpus import stopwords
#Natural Language Toolkit(nltk)
#corpus package contain the list of stopword in many languages

In [25]:
def remove_stopword(text):
    new_txt=[]
    
    for word in text.split(): #for break our word text by text
        if(word in stopwords.words('english')):
            new_txt.append('')
        else:
            new_txt.append(word)
    x=new_txt[:] #copy new data which do not contain stopword;
    new_txt.clear()# removing so that it can be used again ..
    #if we not clear then data will be appended to old one
        
    return " ".join(x)

In [26]:
import time

In [27]:
start=time.time()
data['review']=data['review'].apply(remove_stopword)
end=time.time()-start

In [30]:
print(end/60)

34.567319941520694

In [29]:
data.head()

                                              review sentiment
0  one    reviewers  mentioned   watching  1 oz e...  positive
1   wonderful little production  filming techniqu...  positive
2   thought    wonderful way  spend time    hot s...  positive
3  basically theres  family   little boy jake thi...  negative
4  petter matteis love   time  money   visually s...  positive

In [33]:
from nltk.tokenize import word_tokenize,sent_tokenize
ex=word_tokenize("hey boy , nice to meet you")
ex

['hey', 'boy', ',', 'nice', 'to', 'meet', 'you']

In [53]:
sample="hii how are you &*"

In [56]:
def tokenize(column):
    """Tokenizes a Pandas dataframe column and returns a list of tokens.

    Args:
        column: Pandas dataframe column (i.e. df['text']).

    Returns:
        tokens (list): Tokenized list, i.e. [Donald, Trump, tweets]
    """

    tokens = nltk.word_tokenize(column)
    return [w for w in tokens if w.isalpha()]

In [57]:
tokenize(sample)

['hii', 'how', 'are', 'you']

In [47]:
data1['review'].apply(tokenize)

0       [not, goood, moviess]
1             [ok, not, baad]
2    [i, likee, thias, movas]
Name: review, dtype: object

In [48]:
start=time.time()
data['review']=data['review'].apply(tokenize)
end=time.time()-start
print(end/60)

0.43869779507319134

In [49]:
data.head()

                                              review sentiment
0  [one, reviewers, mentioned, watching, oz, epis...  positive
1  [wonderful, little, production, filming, techn...  positive
2  [thought, wonderful, way, spend, time, hot, su...  positive
3  [basically, theres, family, little, boy, jake,...  negative
4  [petter, matteis, love, time, money, visually,...  positive

In [58]:
data.to_csv("export_clean_data.csv",index=False)

In [59]:
data=pd.read_csv("export_clean_data.csv")

In [60]:
data.head()

                                              review sentiment
0  ['one', 'reviewers', 'mentioned', 'watching', ...  positive
1  ['wonderful', 'little', 'production', 'filming...  positive
2  ['thought', 'wonderful', 'way', 'spend', 'time...  positive
3  ['basically', 'theres', 'family', 'little', 'b...  negative
4  ['petter', 'matteis', 'love', 'time', 'money',...  positive